{% extends 'base.html' %}
{% load static %}

{% block title %}
A propos
{% endblock title %}
{% static "img" as baseUrl %}

{% block css %}
{% endblock css %}

<!-- Content -->
{% block content %}

	<!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'images/background/home_background_2.jpg' %})">
    	<div class="auto-container">
        	<h2>A propos</h2>
			<ul class="page-breadcrumb">
            	<li><a href="{% url 'index' %}">Accueil</a></li>
                <li >A propos</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->
	
	<!-- Story Section -->
	<section class="story-section">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Content Column -->
				<div class="content-column col-lg-8 col-md-12 col-sm-12">
					<div class="inner-column">
						<h2>Des avantages qui deviennent des solutions</h2>
						<div class="bold-text">Une assistance technique et un service après vente assurés à long terme.</div>
						<div class="text">
							<p>Octopus est une agence de croissance digitale spécialisée dans le développement web, le web design, et le web marketing.</p>
							<p>Dans un monde en pleine digitalisation nous travaillons avec les dernières techniques sur le marché pour assurer à nos partenaires leur développement digital et leur présence en ligne. <br>Une équipe compétente et à l’écoute vous concevra les solutions les plus adaptées à vos activités et vous accompagnera sur votre marketing.</p>
						</div>
					</div>
				</div>
				
				<!-- Image Column -->
				<div class="image-column col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image">
							<img src="{% static 'images/background/about_1.jpg' %}" title="Octodemo - Le site de réference pour la vente en ligne!" alt="Octodemo"/>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Story Section -->
	
	<!-- Interior Section -->
	<section class="interior-section style-three">
		<div class="auto-container">
			<div class="inner-container">
				<div class="row clearfix">
					
					<!-- Image Column -->
					<div class="image-column col-lg-4 col-md-12 col-sm-12">
						<div class="inner-column">
							<div class="image">
								<img src="{% static 'images/background/about_2.png' %}" title="Octodemo" alt="Octodemo"/>
							</div>
						</div>
					</div>
					
					<!-- Content Column -->
					<div class="content-column col-lg-8 col-md-12 col-sm-12">
						<div class="inner-column">
							<h2>Pourquoi travailler avec nous ?</h2>
							<div class="text">
								Notre expérience en la matière nous permet de fournir le meilleur rapport qualité/prix pour vous. Et nous mettons un point d’honneur à vous proposer un excellent service client et assistance.
							</div>
							<div class="row clearfix">
							
								<!-- Interior Block -->
								<div class="interior-block col-lg-4 col-md-4 col-sm-12">
									<div class="block-inner">
										<div class="icon-box">
											<span class="icon flaticon-award-1"></span>
										</div>
										<h3>Qualité Supérieure</h3>
									</div>
								</div>
								
								<!-- Interior Block -->
								<div class="interior-block col-lg-4 col-md-4 col-sm-12">
									<div class="block-inner">
										<div class="icon-box">
											<span class="icon flaticon-answer"></span>
										</div>
										<h3>Service Professionnel</h3>
									</div>
								</div>
								
								<!-- Interior Block -->
								<div class="interior-block col-lg-4 col-md-4 col-sm-12">
									<div class="block-inner">
										<div class="icon-box">
											<span class="icon flaticon-hand"></span>
										</div>
										<h3>Satisfaction Garrantie</h3>
									</div>
								</div>
								
							</div>
							
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!-- End Interior Section -->
	
	<!-- Counter Section -->
	<section class="counter-section style-two">
		<div class="auto-container">
		
		
		</div>
	</section>
	<!-- End Counter Section -->
	

	
	<!-- Mission Section -->
    <section class="mission-section style-two">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Image Column -->
				<div class="image-column col-xl-3 col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image">
							<img src="{% static 'images/background/about_3.jpg' %}" alt="Octodemo" />
						</div>
					</div>
				</div>
				
				<!-- Content Column -->
				<div class="content-column col-xl-9 col-lg-8 col-md-12 col-sm-12">
					<div class="inner-column">
						<h2>La mission de notre entreprise</h2>
						<div class="bold-text">Nous croyons  à l'excellence et la satisfaction de <br/>nos clients</div>
						<div class="text">Nous veillons à accroître l'efficacité et améliorer la qualité de nos services de manière continue.</div>
						<h3>Nos services peuvent vous aider à...</h3>
						<div class="row clearfix">
							<div class="column col-lg-6 col-md-6 col-sm-12">
								<ul class="list-style-two">
									<li>- Gagner en temps et en performance</li>
									<li>- Faciliter votre travail</li>
									<li>- Vous occuper que de l'essentiel</li>
								</ul>
							</div>
							
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Mission Section -->
	
	<!-- Call To Action Section -->
	<section class="call-to-action-section" style="background-image: url({% static 'images/background/home_background_2.jpg' %})">
		<div class="auto-container">
			<h2>Toujours penser Octopus!</h2>
			<div class="text">Des solutions digitales à la perfection.</div>
			<a href="{% url 'contact'%}" class="theme-btn btn-style-two"><span class="txt">Contactez-Nous</span></a>
		</div>
	</section>
	<!-- End Call To Action Section -->
	
{% endblock content %}

<!-- End content -->